/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  background-color: #CEE9FF;
}

ul {
  list-style: none;
}

.text {
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.button:not([disabled]):hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.title {
  font-size: 3em;
  font-family: 'Merriweather', serif;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.mat-dialog-container {
  background-color: #fbfbfb;
}

@media only screen and (min-width: 1300px) {
  .mat-dialog-container {
    width: 40%;
  }
}

@media only screen and (min-width: 900px) {
  .cdk-overlay-pane {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .cdk-overlay-pane {
    width: 80%;
  }
}
