.title {
  text-align: center;
  color: #0A0AA3;
  margin: 3% 0;
}

.form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-width: 60%;
  font-size: 20px;
}

.form__field {
  margin-top: 5%;
  font-family: 'Roboto';
}

.form__field--short {
  width: 9em;
}

.form__action {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2%;
}

.form__button {
  margin: 5% auto 0;
  width: 7em;
  height: 3%;
}

.button {
  margin-top: 5%;
  width: 7em;
  padding: 1% 0;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 1.3em;
  }
  .form {
    font-size: 10px;
  }
}
