.title {
  text-align: center;
  color: #0a0aa3;
  font-size: 2em;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.form__field {
  margin-top: 5%;
}

.form__action {
  display: flex;
  justify-content: space-between;
}

.form__button {
  margin: 10% auto 0;
  width: 30%;
}

.button {
  margin-top: 5%;
  width: 30%;
}
